<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %></title>
  <link rel="stylesheet" type="text/css" href="./css/main.css">
</head>
<body>
  <section> 
    <div class="head">
      <div class="nav">
        <a href="/index.html" class="<%= title == 'HOME'? 'active' : '' %>">HOME</a>
        <% for(var i = 0; i < addrs.length; i++) { %>
          <a href="/column/<%= addrs[i] %>.html" class="<%= title == addrs[i] ? 'active' : '' %>"><%= addrs[i] %></a>
        <% } %>
      </div>
    </div>
    <div class="banner">
      <div class="banner-text">
        <!-- 思必驰技术团队 -->
        AISPEECH
      </div>
    </div>
    <div class="list">
      <% for(var i = 0; i < list.length; i++) { %>
        <artilce class="item">
          <span class="post-meta">
            <span class="post-date"><%= list[i].createtime %></span>
          </span>
          <h2 class="post-title">
            <a href="/files/<%= list[i].column %>/<%= list[i].name %>.html" class="js-ajax-link">
              <%= list[i].name %>
            </a>
          </h2>
          <p class="post-excerpt">
            <%= list[i].content %>
          </p>
          <span class="post-more">
            <a href="/files/<%= list[i].column %>/<%= list[i].name %>.html" class="js-ajax-link">
              Read More <i class="icon-arrow-right"></i>
            </a>
          </span>
        </artilce>
      <% } %>
    </div>
    <div class="bottom">
      参考有赞网站 <a href="https://tech.youzan.com/" target="_blank">有赞</a>
    </div>
  </section>
</body>
</html>